@model _21_11_2021.Models.Member

 @{
     Layout = null;
 }

 <!DOCTYPE html>
 <html>
 <head>
     <meta name="viewport" content="width=device-width" />
     <title>RegistrationForm</title>
     <link rel="stylesheet" href="/css/styles.css" />
     <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
 </head>
 <body>
     <h5 class="bg-primary text-white text-center m-2 p-2">Registration form</h5>
     <form asp-action="RegistrationForm" method="post" class="m-2">
         <div asp-validation-summary="All"></div>
 <div class="form-group">
             <label asp-for="Name">Your name:</label>
             <input asp-for="Name" class="form-control" />
         </div>
         <div class="form-group">
             <label asp-for="Email">Your email:</label>
             <input asp-for="Email" class="form-control" />
         </div>
         <div class="form-group">
             <label>Choose your university</label>
             <select asp-for="University" class="form-control">
                 <option value="">Choose an option</option>
                 <option value="MehMat">MehMat</option>
                 <option value="FMO">FMO</option>
             </select>
         </div>
         <div class="form-group">
             <label>Status recruting or not</label>
             <select asp-for="Status" class="form-control">
                 <option value="">Choose an option</option>
                 <option value="true">Yes</option>
                 <option value="false">No</option>
             </select>
         </div>
         <button type="submit" class="btn btn-primary">Submit registration</button>
     </form>
 </body>
 </html>
