@model _21_11_2021.Models.Member

 @{
     Layout = null;
 }

 <!DOCTYPE html>
 <html>
 <head>
     <meta name="viewport" content="width=device-width" />
     <title>Thanks</title>
     <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
 </head>
 <body class="text-center">
     <div>
         <h1>Welcome, @Model.Name!</h1>
         @if (Model.Status == true)
         {
             @:Now you are registrated to the course.
         }
         else
         {
             @:Status not recruiting.
         }
     </div>
     <div>Click <a asp-action="Members">here</a> to see who is registrated.</div>
 </body>
 </html>
